.toolbar {
	display: flex;
	flex-direction: column;
	width: 80vw;
	max-height: max-content;
	border-radius: 0.5em;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.toolbar > * {
	width: 100%;
	margin: 5px auto;
}

.sort-options {
	display: flex;
	width: 100%;
}

.sort-options > * {
	width: 100%;
}

.sort-options > p {
	width: 30%;
}
